{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
<div class="card card-small" >
    <div class="logo">
        LibraSystem®
        <span class="logo-dot"></span>
    </div>

    <p class="subtitle">
        Sign in to your account
    </p>

    <form method="POST">

        <div class="field">

            <label for="username">
                Username
            </label>

            <input
                type="text"
                id="username"
                name="username"
                placeholder="Enter your username"
                required
            >

        </div>


        <div class="field">

            <label for="password">
                Password
            </label>

            <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter your password"
                required
            >

        </div>

        <div class="field">

            <label for="email">
                Email
            </label>

            <input
                type="email"
                id="email"
                name="email"
                placeholder="Enter your email"
                required
            >

        </div>

        <div class="field">

            <label for="first_name">
                First Name
            </label>

            <input
                type="first_name"
                id="first_name"
                name="first_name"
                placeholder="Enter your first name"
                required
            >

        </div>

        <div class="field">

            <label for="password">
                Last Name
            </label>

            <input
                type="last_name"
                id="last_name"
                name="last_name"
                placeholder="Enter your last name"
                required
            >

        </div>

        <div class="field">

            <label for="access_code">
                Access Code
            </label>

            <input
                type="access_code"
                id="access_code"
                name="access_code"
                placeholder="Enter admin access code"
            >

        </div>


        <button class="btn" type="submit">
            Sign Up
        </button>

    </form>


</div>
{% endblock %}