{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="library-page">
    <div class="logo">
        LibraSystem®
        <span class="logo-dot"></span>
    </div>

    <p class="subtitle">
        User Dashboard
    </p>

    <div class="card card-small">
        <div class="profile-row">Username: {{ session["username"] }}</div>
        <div class="profile-row">User ID: {{ session["user_id"] }}</div>
    </div>

    <div class="book-grid">
        <a class="btn" href="{{ url_for('books.books') }}">
            View Books
        </a>

        <a class="btn" href="{{ url_for('account.settings') }}">
            Settings
        </a>

        <a class="btn" href="{{ url_for('main.home') }}">
            Log out
        </a>
    </div>

</div>
{% endblock %}